<?xml version="1.0"?>
<robot name="base" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="base_length" value="0.3"/>
    <xacro:property name="base_front_width" value="0.3"/>
    <xacro:property name="base_rear_width" value="0.1"/>
    <xacro:property name="base_height" value="0.2"/>
    <xacro:property name="base_mass" value="2.5"/>

    <link name="base_footprint"/>
    <link name="base_link">
        <visual>
            <origin xyz="0 0 0"/>
            <geometry>
                <box size="${base_length} ${base_width} ${base_height}"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0"/>
            <geometry>
                <box size="${base_length} ${base_width} ${base_height}"/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz="0 0 0"/>        
            <mass value="${base_mass}"/>
            <inertia
                ixx="${(1/12) * base_mass * (base_width**2 + base_height**2)}"
                ixy="0" ixz="0"
                iyy="${(1/12) * base_mass * (base_length**2 + base_height**2)}"
                iyz="0"
                izz="${(1/12) * base_mass * (base_length**2 + base_width**2)}"/>
        </inertial>
    </link>


    <link name="chassis">
        <visual>
            <origin xyz="0 0 0"/>
            <geometry>
                <box size="${base_length} ${base_width} ${base_height}"/>
            </geometry>
        </visual>
        <visual>
            <origin xyz="0 0 0"/>
            <geometry>
                <box size="${base_length} ${base_width} ${base_height}"/>
            </geometry>
        </visual>
        <visual>
            <origin xyz="0 0 0"/>
            <geometry>
                <box size="${base_length} ${base_width} ${base_height}"/>
            </geometry>
        </visual>
    </link>

    <joint name="base_joint" type="fixed">
        <parent link="base_footprint"/>
        <child link="base_link"/>
        <origin xyz="0 0 0.12"/> 
    </joint>



</robot>
