<?xml version="1.0"?>
<robot name="sensors" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="lidar_radius"   value="0.04"/>
  <xacro:property name="lidar_hight"    value="0.035"/>

  <link name="lidar_link">
    <visual>
        <origin xyz="0 0 0" rpy="0 0 1.5707963"/>
        <geometry><cylinder radius="${lidar_radius}" length="${lidar_hight}"/></geometry>
    </visual>
     <collision>
        <origin xyz="0 0 0" rpy="0 0 1.5707963"/>
        <geometry><cylinder radius="${lidar_radius}" length="${lidar_hight}"/></geometry>
      </collision>
  </link>


  <joint name="lidar_joint" type="fixed">
    <parent link="base_link"/>
    <child link="lidar_link"/>
    <origin xyz="0 0 0.045"/>
  </joint>

  <link name="imu_link"/>
  <joint name="imu_joint" type="fixed">
    <parent link="base_link"/>
    <child link="imu_link"/>
    <origin xyz="0 0 0.1" rpy="0 0 0"/> 
  </joint>
</robot>
